@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
li.dev-item{
    background: #fff;
    box-shadow: 15px 8px 10px rgba(0, 0, 0, 0.32) ;
    border-radius: 2px;
    padding: 20px;
}
li.dev-item header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
li.dev-item header img{
    width: 54px;
    height: 54px;
    border-radius: 50%;
}
li.dev-item header .user-info{
    margin-left: 10px;
}
.user-info strong{
    display: block;
    font-size: 16px;
    color: #333;
}
.user-info span{
    font-size: 13px;
    color: #999;
    margin-top: 2px;
}
li.dev-item p{
    color:#666;
    font-size: 16px;
    line-height: 20px;
    margin: 10px 0;
}
li.dev-item a{
    color: #8e4dff;
    font-size: 14px;
    font-family: Roboto;
    text-decoration: none;
    font-weight: bold;
}
li.dev-item a:hover{
    color: #5a2ea6;
}
.del{
    margin-left: 98%;
    border: 0;
    background: linear-gradient(to right,#6931CA,#5831a0);
    border-radius: 2px;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    transition: background 0.5s;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.62);
    font-family: 'Permanent Marker', cursive;

}
